<%- include('layout/head'); %>

<div id='map'></div>
<div id="error"></div>
<button id="info-button">i</button>
<section id="info">
    <h2>Legenda</h2>
    <button id="close-button">X</button>
</section>

<%- include('layout/footer'); %>