<%- include('layout/head'); %>

<div id="loading">
    <div id="loading-ring"></div>
</div>
<div id='map'></div>
<div id="error"></div>
<button id="info-button">i</button>
<section id="info">
    <h2>Legenda</h2>
    <button id="close-button">X</button>
    <ul>
        <li>
            <img id="icons" src="/images/green-charge.png">
            De groene iconen staan voor hele duurzame laadpalen.
        </li>
        <li>
            <img id="icons" src="/images/orange-charge.png">
            De oranje iconen staan voor redelijk duurzame laadpalen.
        </li>
        <li>
            <img id="icons" src="/images/red-charge.png">
            En de rode iconen staan voor niet duurzame laadpalen.
        </li>
    </ul>
</section>

<%- include('layout/footer'); %>