<%- include('layout/head'); %>

<main id="laadsessie">
    <h1>Laadsessie (niet duurzaam)</h1>
    <h2>Je auto is nu aan het opladen</h2>
    <p>Helaas heb je gekozen voor een niet duurzame laadsessie. Hiervoor moeten maar liefst .. bomen worden teruggeplant
        om de CO2-uistoot van deze sessie te compenseren.
    </p>
    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">Plant
        deze bomen direct! &gt;</a>
    <div id="animation-bad"></div>
    <div class="progress">
        <div id="color"></div>
    </div>
    <button id="stopLoading">Laadsessie beëindigen</button>
    <a href="/map">&lt; Andere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>