<%- include('layout/head'); %>

<main id="laadsessie">
    <h1>Dit is een <strong id="green">duurzame</strong> laadpaal</h1>
    <h2>Super tof dat je hebt gekozen voor een duurzame laadpaal!</h2>
    <p>Dit is beter voor het klimaat, omdat er minder CO2 wordt uitgestoten.</p>
    <p>Als beloning ontvang je:</p>
    <div id="points">100 punten</div>

    <p>
        Hiermee kan je sparen voor het planten van een nieuwe boom! Hiermee kunnen we het klimaat nog meer verbeteren.
    </p>
    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">Plant
        direct een boom! &gt;
    </a>
    <div id="animation"></div>
    <a href="/map">&lt; Andere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>