<%- include('layout/head'); %>

<main id="laadsessie">
    <h1>Laadsessie</h1>
    <h2>Je auto is nu aan het opladen</h2>
    <div id="animation"></div>
    <div class="progress">
        <div id="color"></div>
    </div>
    <button id="stopLoading">Laadsessie beëindigen</button>
</main>

<%- include('layout/footer'); %>