<%- include('layout/head'); %>

<main id="laadsessie">
    <h1 tabindex="0">Dit is een <strong id="orange">redelijk duurzame</strong> laadpaal</h1>
    <h2 tabindex="0">Is er geen duurzamere laadpaal in de buurt?</h2>
    <div>
        <p tabindex="0">Die is er!</p>
        <button id="showBetterStation">Kijk hier waar je hem kunt vinden!</button>
    </div>
    <div id="hiddenSection" class="hidden">
        <div id="map2"></div>
    </div>
    <p tabindex="0" id="walk">
        Deze laadsessie staat gelijk aan het produceren van <strong>1000 plastic tasjes </strong>
    </p>
    <p tabindex="0"> Daarom ontvang je als je hier gaat laden:</p>
    <div id="points">50 punten</div>
    <p tabindex="0">
        Je kan meer punten verdienen door voor een duurzamere laadpaal te kiezen! Met deze punten kan je sparen voor het
        planten van een boom.
    </p>
    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">Plant
        direct een boom! &gt;
    </a>
    <div id="animation-bad"></div>
    <!-- <div class="progress">
        <div id="color"></div>
    </div> -->
    <!-- <button id="stopLoading">Laadsessie beëindigen</button> -->
    <a href="/map">&lt; Andere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>