<%- include('layout/head'); %>
<!-- <%- include('../index.js') %> -->


<main id="laadsessie">
    <h1>Niet duurzame laadpaal</h1>
    <h2>Is er geen duurzamere laadpaal in de buurt?</h2>
    <p id="walk">
        Die paar honderd meter extra lopen, kan een enorm verschil maken qua
        CO2-uitstoot!
    </p>
    <p>Deze laadsessie staat namelijk gelijk aan ... </p>
    <p>
        <div id="treeAmount"></div>
        30 kWh x data.sustain = ... gram CO2
        Kan het toch echt niet anders, dan zullen er .. bomen moeten worden geplant om de CO2-uitstoot van deze
        laadsessie te compenseren.
    </p>

    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">Plant
        deze bomen direct! &gt;</a>
    <div id="animation-bad"></div>
    <a href="/map">&lt; Andere duurzamere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>