<%- include('layout/head'); %>

<main id="laadsessie">
    <h1 tabindex="0">Dit is een <strong id="green">duurzame</strong> laadpaal</h1>
    <h2 tabindex="0">Super tof dat je hebt gekozen voor een duurzame laadpaal!</h2>
    <p tabindex="0">Dit is beter voor het klimaat, omdat er minder CO2 wordt uitgestoten.</p>
    <p tabindex="0">Als je hier gaat laden ontvang je als beloning:</p>
    <div tabindex="0" id="points">100 punten</div>
    <p tabindex="0">
        Hiermee kan je sparen voor het planten van een nieuwe boom! Hiermee kunnen we het klimaat nog meer verbeteren.
    </p>
    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">Plant
        direct een boom! &gt;
    </a>
    <div id="animation"></div>
    <a href="/map">&lt; Andere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>