<%- include('layout/head'); %>

<main id="laadsessie">
    <h1>Duurzame laadpaal</h1>
    <h2>Super tof dat je hebt gekozen voor een duurzame laadpaal!</h2>
    <p>Dit is beter voor het klimaat, omdat er minder CO2 wordt uitgestoten.</p>
    <p>Als beloning ontvang je <strong>100 punten</strong>, hiermee kan je sparen voor het planten van een nieuwe boom!
    </p>
    <div id="animation"></div>
    <div class="progress">
        <div id="color"></div>
    </div>
    <!-- <button id="stopLoading">Laadsessie beëindigen</button> -->
    <a href="/map">&lt; Andere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>