<%- include('layout/head'); %>

<main id="laadsessie">
    <h1 tabindex="0">Dit is een <strong id="red">niet duurzame</strong> laadpaal</h1>
    <h2 tabindex="0">Is er geen duurzamere laadpaal in de buurt?</h2>
    <div>
        <p tabindex="0">Die is er!</p>
        <button id="showBetterStation">Kijk hier waar je hem kunt vinden!</button>
    </div>
    <div id="map2" class="hidden"></div>
    <p tabindex="0" id="walk">
        Deze laadsessie staat gelijk aan het produceren van <strong>1476 plastic tasjes </strong>
    </p>
    <p tabindex="0">
        Je ontvangt dan ook geen punten voor deze laadsessie om een boom te planten. Maar we raden je wel
        aan om er
        eentje te gaan planten om je laadsessie te compenseren!</p>
    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">
        Plant direct een boom! &gt;
    </a>
    <div id="animation-bad"></div>
    <a href="/map">&lt; Andere duurzamere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>