<%- include('layout/head'); %>

<main id="laadsessie">
    <h1>Duurzame laadpaal</h1>
    <h2>Super tof dat je hebt gekozen voor een duurzame laadpaal!</h2>
    <p>Dit is beter voor het klimaat, omdat er minder CO2 wordt uitgestoten.</p>
    <p>Als beloning ontvang je:</p>
    <div id="points">100 punten</div>

    <p>Hiermee kan je sparen voor het planten van een nieuwe boom! Hiermee kunnen we het klimaat nog meer verbeteren.
    </p>

    <div id="animation"></div>
    <a href="/map">&lt; Andere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>