<%- include('layout/head'); %>
<!-- <%- include('../index.js') %> -->


<main id="laadsessie">
    <h1>Dit is een <strong id="red">niet duurzame</strong> laadpaal</h1>
    <h2>Is er geen duurzamere laadpaal in de buurt?</h2>
    <div>
        <p>Die is er!</p>
        <button id="showBetterStation">Kijk hier waar je hem kunt vinden!</button>
    </div>
    <img id="hiddenImg" class="hidden" src="/images/map.png" alt="Betere laadpalen">
    <p id="hiddenText" class="hidden">
        De laadpaal die hierboven is afgebeeld, is een duurzamere keuze. En die paar honderd meter extra
        lopen is echt niet zo erg.
    </p>
    <p id="walk">
        Deze laadsessie staat gelijk aan het produceren van <strong>1476 plastic tasjes </strong>
    </p>
    <p> Je ontvangt dan ook geen punten voor deze laadsessie om een boom te planten. Maar we raden je wel aan om er
        eentje te gaan planten om je laadsessie te compenseren!</p>
    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">Plant
        direct een boom! &gt;
    </a>
    <div id="animation-bad"></div>
    <a href="/map">&lt; Andere duurzamere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>