<%- include('layout/head'); %>

<main id="laadsessie">
    <h1>Redelijk duurzame laadpaal</h1>
    <h2>Is er geen duurzamere laadpaal in de buurt?</h2>
    <p></p>
    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">Plant
        deze bomen direct! &gt;</a>
    <div id="animation-bad"></div>
    <!-- <div class="progress">
        <div id="color"></div>
    </div> -->
    <!-- <button id="stopLoading">Laadsessie beëindigen</button> -->
    <a href="/map">&lt; Andere laadpaal zoeken</a>
</main>

<%- include('layout/footer'); %>