<%- include('layout/head'); %>

<div id="loading">
    <div id="loading-ring"></div>
</div>
<div id='map'></div>
<div id="popupError">
    <button id="close-popup-button">X</button>
    <p>Je hebt geen toegang gegeven tot je locatie. Doe dit alsnog of gebruik de zoekfunctie om laadpalen te vinden.</p>
</div>
<button id="info-button">i</button>
<section id="info">
    <h2>Legenda</h2>
    <button id="close-button">X</button>
    <p>Op deze kaart worden de laadpalen getoond. Deze hebben verschillende iconen:</p>
    <ul>
        <li>
            <img id="icons" src="/images/green-charge.png">
            Duurzame laadpalen
        </li>
        <li>
            <img id="icons" src="/images/orange-charge.png">
            Redelijk duurzame laadpalen
        </li>
        <li>
            <img id="icons" src="/images/red-charge.png">
            Niet duurzame laadpalen
        </li>
        <li>
            <img id="icons" src="/images/grey-charge.png">
            Niet beschikbare laadpalen
        </li>
    </ul>
</section>

<%- include('layout/footer'); %>