<%- include('layout/head'); %>

<main id="offline">
    <h1>Het lijkt erop dat je offline bent</h1>
    <p>Controleer je interverbinding of probeer het later opnieuw!</p>
</main>

<%- include('layout/footer'); %>