<%- include('layout/head'); %>

<main id="profile-page">
    <section id="profile-top">
        <img id="profile" src="/images/profilepic.jpg" alt="">
        <h1 tabindex="0">David Ransford</h1>
    </section>
    <section id="profile-content">
        <h2 tabindex="0">Je bent goed bezig!</h2>
        <p tabindex="0" id="points">Gespaarde punten: 700</p>
        <p tabindex="0">Nog 300 punten erbij en je kunt een boom planten!</p>
        <h3 tabindex="0">Afgelopen laadsessies:</h3>
        <ul>
            <li tabindex="0" id="green">
                <p>Lyceumstraat, Alkmaar</p>
                <p><strong>100 punten verdiend</strong></p>
            </li>
            <li tabindex="0" id="green">
                <p>Nieuwlandersingel, Alkmaar</p>
                <p><strong>100 punten verdiend</strong></p>
            </li>
            <li tabindex="0" id="orange">
                <p>Dr. Schaepmankade, Alkmaar</p>
                <p><strong>50 punten verdiend</strong></p>
            </li>
        </ul>
        <a href="/map">&lt; Terug naar de kaart</a>
    </section>
</main>

<%- include('layout/footer'); %>