<%- include('layout/head'); %>

<main id="laadsessie">
    <h1 tabindex="0">Hi Lotte!</h1>
    <h2 tabindex="0">Je bent goed bezig!</h2>
    <p tabindex="0">Je hebt al veel punten gespaard, namelijk:</p>
    <div tabindex="0" id="points">700 punten</div>
    <p tabindex="0">Nog 300 punten erbij en je kunt een boom planten!</p>
    <a id="boomPlanten"
        href="https://get.treedom.net/nl/?gclid=Cj0KCQjwwJuVBhCAARIsAOPwGATfK0DbPDKMtv4CuZf6aa6rgm-rDG6xEsunVgvW1F4wCBEPZcjVqXIaAqPXEALw_wcB">Plant
        direct een boom! &gt;
    </a>
    <!-- <div id="animation"></div> -->
    <ul id="test">
        <li><img src="/images/boom5.png" alt=""></li>
        <li><img src="/images/boom6.png" alt=""></li>
        <li><img src="/images/boom7.png" alt=""></li>
        <li><img src="/images/boom8.png" alt=""></li>
        <li><img src="/images/boom9.png" alt=""></li>
        <li><img src="/images/boom10.png" alt=""></li>
    </ul>
    <a href="/map">&lt; Terug naar de kaart</a>
</main>

<%- include('layout/footer'); %>