<%- include('layout/head'); %>

<main id="welcome-section">
    <div id="welcome">
        <h1>Welkom!</h1>
        <img src="/images/logo.png" alt="Logo car charging">
    </div>
    <h2>Super tof dat je duurzaam wilt gaan laden!</h2>
    <p>Met behulp van onze app kun je in de buurt de meest duurzame laadpaal vinden. Hoe tof is dat!</p>
    <h3>Maar hoe werkt dat nou precies?</h3>
    <p>De laadpalen bij jou in de buurt worden getoond met verschillende iconen.</p>
    <ul>
        <li>
            <img id="icons" src="/images/green-charge.png">
            De groene iconen staan voor hele duurzame laadpalen.
        </li>
        <li>
            <img id="icons" src="/images/orange-charge.png">
            De oranje iconen staan voor redelijk duurzame laadpalen.
        </li>
        <li>
            <img id="icons" src="/images/red-charge.png">
            De rode iconen staan voor niet duurzame laadpalen.
        </li>
        <li>
            <img id="icons" src="/images/grey-charge.png">
            En de grijze iconen staan voor laadpalen die op dit moment niet beschikbaar zijn.
        </li>
    </ul>
    <a href="/map">Begin je eerste duurzame laadsessie</a>
</main>

<%- include('layout/footer'); %>