:root {
    --background-color: #080D55;
    --secondary-color: #02958A;
    --border-radius: 0.2em;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('/font/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/font/Roboto-Light.ttf');
}

body {
    background: var(--background-color);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
}

header {
    background: rgba(255, 255, 255, 0.5);
    max-height: 10vh;
    display: flex;
    flex-direction: row;
}

header img {
    width: 2.5em;
    padding: 1em;
}

header h1 {
    font-family: 'Roboto-Thin', Arial, Helvetica, sans-serif;
}

#map {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 10vw;
}

.mapboxgl-popup-content {
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: var(--background-color) !important;
    font-size: 1.4em !important;
    line-height: 25px;
}

.mapboxgl-popup-content h3 {
    margin: 0 auto;
}

.mapboxgl-popup-close-button {
    color: white;
    font-size: 1em;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--background-color) !important;
}

/* .mapboxgl-ctrl-group button {
    width: 13vw !important;
    height: 7vh !important;
} */

.mapboxgl-ctrl-attrib.mapboxgl-compact {
    display: none;
}

/* .mapboxgl-ctrl button .mapboxgl-ctrl-icon::before {
    content: 'Eigen locatie';
    display: block;
} */

/* .mapboxgl-ctrl button .mapboxgl-ctrl-icon {
    width: 100%;
    height: 140% !important;
    padding: 0.1em;
} */

#info-button {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2em;
    height: 2em;
    background: white;
    text-align: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

#info {
    display: none;
    width: 80vw;
    height: 70vh;
    background: var(--background-color);
    margin: 6.5em auto 1.5em auto;
    padding: 0.5em;
    border-radius: var(--border-radius);
}

#info h2 {
    margin: 0.2em;
}

#info-button:active {
    background: #a8cdc2;
}

#info button {
    position: absolute;
    top: 28.5vmin;
    right: 10.4vw;
    background: white;
    color: black;
    border: none;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
}

#info ul {
    padding-left: 0.2em;
}

#info ul li {
    list-style: none;
    padding-bottom: 1em;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib-inner {
    display: none !important;
}

#loading {
    display: block;
    position: absolute;
    top: 45vh;
    left: 40vw;
    font-size: 2em;
}

#loading-ring {
    display: inline-block;
    width: 2em;
    height: 2em;
}

#loading-ring:after {
    content: ' ';
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    border-radius: 50%;
    border: 0.2em solid #d9574e;
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
    background: rgba(255, 255, 255, 0.5);
}

#offline {
    padding: 1em;
}

#laadsessie {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#animation {
    background-size: 100% 100%;
    animation: Growingtree 20s infinite;
    width: 20em;
    height: 20em;
}

@keyframes Growingtree {
    0% {
        background-image: url('/images/boom1.png');
    }

    10% {
        background-image: url('/images/boom2.png');
    }

    20% {
        background-image: url('/images/boom3.png');
    }

    30% {
        background-image: url('/images/boom4.png');
    }

    40% {
        background-image: url('/images/boom5.png');
    }

    50% {
        background-image: url('/images/boom6.png');
    }

    60% {
        background-image: url('/images/boom7.png');
    }

    70% {
        background-image: url('/images/boom8.png');
    }

    80% {
        background-image: url('/images/boom9.png');
    }

    90% {
        background-image: url('/images/boom10.png');
    }

    100% {
        background-image: url('/images/boom10.png');
    }
}

.progress {
    position: relative;
    height: 0.5em;
    width: 80vw;
    border: 0.1em solid var(--secondary-color);
    border-radius: 1em;
    margin-top: 1em;
}

.progress #color {
    position: absolute;
    background-color: #ffffff;
    width: 0;
    height: 0.5em;
    border-radius: 1em;
    animation: progres 20s infinite linear;
}

@keyframes progres {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    20% {
        width: 20%;
    }

    30% {
        width: 30%;
    }

    40% {
        width: 40%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 60%;
    }

    70% {
        width: 70%;
    }

    80% {
        width: 80%;
    }

    90% {
        width: 90%;
    }

    100% {
        width: 100%;
    }
}

#stopLoading {
    background: var(--secondary-color);
    color: white;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
    border: none;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#startLoading {
    background: var(--secondary-color);
    color: white;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 1em;
    text-decoration: none;
}

#startLoading:focus {
    border: 0.2em solid white;
    outline: none;
}

#laadsessie a {
    position: absolute;
    bottom: 1em;
    color: white;
    text-decoration: none;
}

.custom-marker-red {
    cursor: pointer;
    background-image: url('/images/red-charge.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2.45rem;
    width: 1.5rem
}

.custom-marker-green {
    cursor: pointer;
    background-image: url('/images/green-charge.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2.45rem;
    width: 1.5rem
}

#welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
}

#welcome img {
    width: 5em;
    height: 4em;
}

#welcome-section {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-section a {
    background: var(--secondary-color);
    color: white;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
}

#welcome-section ul {
    padding-left: 0;
}

#welcome-section ul li {
    list-style: none;
    padding-bottom: 0.5em;
}

#icons {
    max-width: 1.3em;
}