:root {
    --background-color: #080D55;
    --secondary-color: #02958A;
    --blue-color: #3ED1FC;
    --focus-color: #e370d6;
    --border-radius: 0.2em;
}

*:focus {
    outline: 0.2em solid var(--focus-color, hotpink);
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('/font/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/font/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/font/Roboto-Bold.ttf');
}

body {
    background: var(--background-color);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
}

strong {
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
}

header {
    background: rgba(255, 255, 255, 0.5);
    max-height: 10vh;
    display: flex;
    flex-direction: row;
}

header img {
    width: 2.5em;
    padding: 1em;
}

header h1 {
    font-family: 'Roboto-Thin', Arial, Helvetica, sans-serif;
}


/* map page */
#error {
    position: absolute;
    top: 10vh;
    left: 1em;
    background: white;
    padding: 1em;
    color: var(--background-color, #080D55);
    z-index: 10;
}

#popupError,
#popup-error-support {
    display: none;
    width: 80vw;
    height: 10vh;
    background: var(--background-color, #080D55);
    margin: 6.5em auto 1.5em auto;
    padding: 0.5em;
    border-radius: var(--border-radius, 0.2em);
}

#popupError p,
#popup-error-support p {
    max-width: 65vw;
    margin-top: 0;
}

#popupError button,
#popup-error-support button {
    position: absolute;
    top: 28.5vmin;
    right: 10.4vw;
    background: white;
    color: black;
    border: none;
    padding: 0.5em 1em;
    border-radius: var(--border-radius, 0.2em);
}

#map {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

#map2 {
    position: absolute;
    top: 20vh;
    width: 85%;
    height: 25em;
    margin-top: 2em;
    margin-bottom: 20em;
}

.marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
}

.custom-marker-loading {
    cursor: pointer;
    background-image: url('/images/point.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 3.2rem;
    width: 2.3rem;
}

.custom-marker-red {
    cursor: pointer;
    background-image: url('/images/red-point.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 3.2rem;
    width: 2.3rem;
}

.custom-marker-green {
    cursor: pointer;
    background-image: url('/images/green-point.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 3.2rem;
    width: 2.3rem;
}

.custom-marker-orange {
    cursor: pointer;
    background-image: url('/images/orange-point.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 3.2rem;
    width: 2.3rem;
}

.custom-marker-grey {
    cursor: pointer;
    background-image: url('/images/grey-charge.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 3.2rem;
    width: 2.3rem;
    opacity: 0.3 !important;
}

.mapboxgl-popup {
    max-width: 10vw;
}

.mapboxgl-popup-content {
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background: var(--background-color) !important;
    font-size: 1.4em !important;
    line-height: 25px;
}

.mapboxgl-popup-content img {
    max-width: 2em;
    max-height: 2em;
}

.mapboxgl-popup-content h3 {
    margin: 0 !important;
    margin-left: 0.6em !important;
    font-size: 1em;
}

.mapboxgl-popup-content h3:focus {
    outline: none;
    border: none;
}

.mapboxgl-popup-content div {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mapboxgl-popup-content h3 {
    margin: 0 auto;
}

.mapboxgl-popup-close-button {
    color: white;
    font-size: 1em;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--background-color) !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: var(--background-color) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: var(--background-color) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: var(--background-color) !important;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
    display: none;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib-inner {
    display: none !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib.mapboxgl-compact {
    display: none !important;
}

/* legend */
#info-button {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2em;
    height: 2em;
    background: white;
    text-align: center;
    padding: 1em;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

#profile-button {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 2.5em;
    width: 2em;
    height: 2em;
    background: white;
    text-align: center;
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

#profile-button img {
    max-width: 1em;
    max-height: 1em;
}

#info {
    display: none;
    width: 80vw;
    height: 55vh;
    background: var(--background-color);
    margin: 6.5em auto 1.5em auto;
    padding: 0.5em;
    border-radius: var(--border-radius);
    z-index: 10;
}

#info ul li {
    font-size: 1.2em;
}

#info h2 {
    margin: 0.2em;
}

#info-button:active {
    background: #a8cdc2;
}

#info button {
    position: absolute;
    top: 28.5vmin;
    right: 10.4vw;
    background: white;
    color: black;
    border: none;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
}

#info ul {
    padding-left: 0.2em;
    margin-top: 2em;
}

#info ul li {
    list-style: none;
    padding-bottom: 1em;
}

#icons {
    max-width: 1.5em;
    margin-right: 0.5em;
}

/* loading icon */
#loading {
    display: block;
    position: absolute;
    top: 45vh;
    left: 40vw;
    font-size: 2em;
    z-index: 1;
}

#loading-ring {
    display: none;
    width: 2em;
    height: 2em;
}

#loading-ring:after {
    content: ' ';
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
    border-radius: 50%;
    border: 0.2em solid #d9574e;
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: loading-ring 1.2s linear infinite;
    z-index: 1;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* geocoder */
.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
    background: rgba(255, 255, 255, 0.5);
}

/* offline page */
#offline {
    padding: 1em;
}

/* loading session page */
#laadsessie {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#laadsessie>div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#showBetterStation {
    color: white;
    border-radius: var(--border-radius);
    background: var(--secondary-color);
    padding: 0.5em;
    width: fit-content;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
    border: none;
    margin: 1em 0;
    font-size: 15px;
}

strong#red {
    color: red;
}

strong#green {
    color: var(--secondary-color);
}

strong#orange {
    color: orange;
}

@supports (animation-name: growingTree) {
    #animation-tree li {
        list-style-type: none;
        opacity: 0;
        animation: tree 24s infinite;
        position: absolute;
        top: 60vh;
        left: 2em;
        z-index: -1;
    }

    #animation-tree-bad li {
        list-style-type: none;
        opacity: 0;
        animation: tree 24s infinite;
        position: absolute;
        left: 2em;
        z-index: -1;
    }

    #animation-tree li img,
    #animation-tree-bad li img {
        max-width: 80vw;
        margin-bottom: 5em;
    }

    #animation-tree li:nth-child(1),
    #animation-tree-bad li:nth-child(1) {
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
    }

    #animation-tree li:nth-child(2),
    #animation-tree-bad li:nth-child(2) {
        animation-delay: 4s;
        -webkit-animation-delay: 4s;
        -moz-animation-delay: 4s;
        -o-animation-delay: 4s;
    }

    #animation-tree li:nth-child(3),
    #animation-tree-bad li:nth-child(3) {
        animation-delay: 8s;
        -webkit-animation-delay: 8s;
        -moz-animation-delay: 8s;
        -o-animation-delay: 8s;
    }

    #animation-tree li:nth-child(4),
    #animation-tree-bad li:nth-child(4) {
        animation-delay: 12s;
        -webkit-animation-delay: 12s;
        -moz-animation-delay: 12s;
        -o-animation-delay: 12s;
    }

    #animation-tree li:nth-child(5),
    #animation-tree-bad li:nth-child(5) {
        animation-delay: 16s;
        -webkit-animation-delay: 16s;
        -moz-animation-delay: 16s;
        -o-animation-delay: 16s;
    }

    #animation-tree li:nth-child(6),
    #animation-tree-bad li:nth-child(6) {
        animation-delay: 20s;
        -webkit-animation-delay: 20s;
        -moz-animation-delay: 20s;
        -o-animation-delay: 20s;
    }

    @keyframes tree {
        0% {
            opacity: 0;
        }

        6% {
            opacity: 1;
        }

        15% {
            opacity: 1;
        }

        30% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }
}

@supports not (animation-name: growingTree) {
    #animation-tree li {
        list-style-type: none;
        opacity: 0;
        position: absolute;
        top: 60vh;
        left: 2em;
        z-index: -1;
    }

    #animation-tree li:last-child {
        list-style-type: none;
        opacity: 1;
        position: absolute;
        top: 60vh;
        left: 2em;
        z-index: -1;
    }

    #animation-tree-bad li {
        list-style-type: none;
        opacity: 0;
        position: absolute;
        left: 2em;
        z-index: -1;
    }

    #animation-tree-bad li:last-child {
        list-style-type: none;
        opacity: 1;
        position: absolute;
        left: 2em;
        z-index: -1;
    }

    #animation-tree li img,
    #animation-tree-bad li img {
        max-width: 80vw;
        margin-bottom: 5em;
    }
}

#stopLoading {
    background: var(--secondary-color);
    color: white;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
    border: none;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#startLoading {
    background: var(--secondary-color);
    color: white;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 1em;
    text-decoration: none;
}

#startLoading:focus {
    border: 0.2em solid white;
    outline: none;
}

#laadsessie #back-button {
    position: fixed;
    bottom: 1em;
    border-radius: var(--border-radius);
    background: white;
    color: var(--background-color) !important;
    padding: 0.5em;
    text-decoration: none;
}

#laadsessie h1 {
    font-size: 1.3em;
    margin-bottom: 0;
}

#laadsessie h2 {
    font-size: 1.1em;
    margin-bottom: 0;
}

#boomPlanten {
    color: var(--secondary-color);
    margin-bottom: 1em;
    border-radius: var(--border-radius);
    background: var(--secondary-color);
    color: white !important;
    padding: 0.5em;
    width: fit-content;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

#hiddenSection {
    margin-bottom: 20em;
}

#comparison {
    background: white;
    color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 0.5em;
}

#points {
    background: var(--blue-color);
    color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 0.5em;
    width: fit-content;
}

/* welcome page */
#welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
}

#welcome img {
    width: 5em;
    height: 4em;
}

#welcome-section {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-section a {
    background: var(--secondary-color);
    color: white;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
}

#welcome-section ul {
    padding-left: 0;
}

#welcome-section ul li {
    list-style: none;
    padding-bottom: 0.5em;
}

#profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profile-page section a:last-of-type {
    position: fixed;
    bottom: 1em;
    border-radius: var(--border-radius);
    background: white;
    color: var(--background-color) !important;
    padding: 0.5em;
    text-decoration: none;
    left: 1em;
}

#profile-top {
    background: var(--secondary-color);
    height: 17vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#profile-top h1 {
    font-size: 1.3em;
    margin-left: 6em;
}

#profile-top img {
    position: absolute;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    top: 8vh;
    left: 10vw;
    border: 0.1em solid white;
}

#profile-content {
    margin-top: 4em;
    padding: 1em;
}

#profile-content h3 {
    margin-top: 2em;
}

#profile-content #green {
    background-color: #72bb71;
    list-style-type: none;
    padding: 1em;
    margin-bottom: 1em;
    color: var(--background-color);
    border-radius: var(--border-radius);
}

#profile-content ul {
    padding: 0;
    margin-bottom: 4em;
}

#profile-content ul li p {
    margin: 0.2em 0;
}

#profile-content #orange {
    background-color: #f7b072;
    list-style-type: none;
    padding: 1em;
    margin-bottom: 1em;
    color: var(--background-color);
    border-radius: var(--border-radius);
}